.row.survey
  .col-md-8.col-md-offset-2
    div.welcome
      h4 #{@meeting.summary}
      p hosted by #{@meeting.organizer.email} #{time_ago_in_words @survey_invite.meeting_occurrence.start_time} ago.
    table.welcome
      tr
        td
          div.progress
            div.progress-bar role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;" 1 / 6
        td
          div.welcome.back-link.centered
            i.fa.fa-backward.back-button id="back-button"
            span.back-esc esc

    = form_tag('/survey', class: 'form-questions', id: 'survey-form') do
      = hidden_field_tag :link_code, params[:link_code]
      - @questions.each_with_index do |question, i|
        = survey_tag(question[:question], question[:type], i + 1)

      /= submit_tag 'Send', id: "submit-button"

javascript:
  function set_why_color(label) {

    var why = label.closest(".question").find(".why");
    var continue_button = label.closest('.question').find('.button-block');
    why.slideDown(100, 'linear', function() {
      continue_button.show();
    });

    if (label.hasClass('btn-yes')) {
      why.addClass('yes');
      why.removeClass('no');
    } else {
      why.addClass('no');
      why.removeClass('yes');
    }
    why.focus();
  }

  function keyboard_answer(key) {
    if($('.on .buttons').length == 1 && $('.on textarea').is(':focus') == false) {
      if(key == 'y') {
        $($('.on .buttons input:radio')[0]).trigger('click');
      } else if(key == 'n') {
        $($('.on .buttons input:radio')[1]).trigger('click');
      }
    }
  }

  function set_current_step(step) {

    if(step == 1) {
      $('table.welcome').hide();
    } else {
      $('table.welcome').show();
    }

    if (typeof step != 'undefined' && is_step_valid(step)) {
      var list = $('.question');

      $.each(list, function (index, this_block) {
        $(this_block).removeClass('on');
      });

      get_block(step).addClass('on');

      if (step > 1) {
        $('.on .why').focus();
      }

      // Set focus to the textarea for the last question
      if (step == steps_count()) {
        var target = $('.on .general-feedback');
        target.focus();
        target.val('');
      }

      update_progress_bar(step);
    }
  }

  function update_progress_bar(step) {
    var percentage = parseInt(100 * (step / 6));
    $('.progress-bar').width(percentage+'%').attr('aria-valuenow', percentage).text(step+' / ' + steps_count());
  }

  function is_step_valid(step) {
    return step >= 1 && step <= steps_count();
  }

  function current_step() {
    var list = $('.question');

    for (var i = 0; i < list.length; ++i) {
      var block = $(list[i]);

      if (block.is(':visible')) {
        var re = /\w+_(\d+)/;
        return block.attr('id').match(re)[1];
      }
    }
  }

  function steps_count() {
    return $('.question').length;
  }

  function get_block(step_number) {
    var list = $('.question');

    for (var i = 0; i < list.length; ++i) {
      var block = $(list[i]);

      if (block.attr('id') == 'question_' + step_number) {
        return (block);
      }
    }
  }

  function next_step() {
    var step = parseInt(current_step());
    set_current_step(step + 1);
  }

  function previous_step() {
    var step = parseInt(current_step());
    set_current_step(step - 1);
  }

  $(document).ready(function () {
    $('.question input[type="radio"]').change(function () {
      var radio = $(this);
      $.each(radio.parents('.question').find('label'), function (i, v) {
        var label = $(v);
        if (label.children('input[type="radio"]:checked').length) {
          label.addClass('active');
          set_why_color(label);
          $('.on .text-input-legend').hide();
        } else {
          label.removeClass('active');
        }
      });
    });

    $('.back-link').click(function (e) {
      previous_step();
    });

    $('.btn-continue').click(function (e) {
      next_step();
    });

    $('.why').keydown(function (e) {
      if (e.shiftKey && e.keyCode == 13) {
        e.preventDefault();
        $('.on .btn-continue').trigger('click');
      }
    });

    $('.general-feedback').keydown(function (e) {
      if (e.shiftKey && e.keyCode == 13) {
        e.preventDefault();
        $('#submit').trigger('click');
      }
    });

    $('#submit').click(function (e) {
      $('#survey-form').submit();
    });

    $(document).keyup(function (e) {
      if (e.shiftKey && e.keyCode == 13) {
        e.preventDefault();
        keyboard_answer('enter');
      } else if (e.keyCode == 121 || e.keyCode == 89) {
        keyboard_answer('y');
      } else if (e.keyCode == 110 || e.keyCode == 78) {
        keyboard_answer('n');
      } else if (e.keyCode == 27) {
        previous_step();
      }
    });

    $(function () {
      $('textarea').autosize();
      $('#question_1').addClass('on');
    });
  });
