<body>
<div>
  <p>All meeting participants have responded and you can see all the results here: <%= link_to 'Report', report_url(@meeting_occurrence.link_code) %></p>
  <p>Thank you for using Meeting Possum!</p>
</div>
</body>