.survey {
  .form-questions {
    margin-top: 60px;
  }

  #question_1, #question_2, #question_3, #question_4, #question_5, #question_6, #submit-button {
    display: none;
  }

  h3 {
    color: #8C8C8C;
  }

  input[type="radio"] {
    display: none;
  }

//  input[type="radio"]:checked + i {
////    background-color: yellow;
////    color: yellow;
//  }

  .buttons {
    margin-top: 60px;
  }

  .btn-yes, .btn-no {
    border: solid 1px;
  }

  .btn-yes.active {
    background-color: #06B009;
  }

  .btn-no.active {
    background-color: #ee9999;
  }

  .btn-continue {
    color: #333333;
    margin-top: 40px;
  }

  .button-block {
    display: none;
  }

  a:hover, a:visited, a:link, a:active {
    text-decoration: none;
  }

  .why {
    margin-top: 20px;
    width: 300px;
    border: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    resize: none;
    font-size: 24px;
    line-height: 30px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    outline: none;
    display: none;
    &.yes {
      border-left: 2px solid #06B009 !important;
      color: #06B009;
    }
    &.no {
      border-left: 2px solid #ee9999 !important;
      color: #ee9999;
    }
  }

  .btn-yes {
    &.active {

    }
  }

  .btn-no {
    &.active {
      .why {

      }
    }
  }

  .hotkey {
    font-size: 11px;
    color: #8D8D8D;
  }
}